.util-molecule {
	position: fixed;
	width: 300px;
	aspect-ratio: 1;
	top: 0;
	background: url('@/assets/images/image-mol.png');
	@include bg-contain();
	filter: blur(0.5px);
	z-index: 0;
	pointer-events: none;

	&--trials {
		z-index: 1;
	}

	// Modifiers
	&--topRight {
		top: -150px;
		right: -130px;

		@include tablet {
			top: -100px;
			right: -100px;
		}

		@include desktop {
			top: -100px;
			right: -80px;
		}

		@include large-desktop {
			width: 400px;
		}
	}

	&--centerLeftBlur {
		width: 200px;
		filter: blur(5px);
		opacity: 0.5;
		top: 30%;
		left: -100px;

		@include large-desktop {
			width: 300px;
			left: -10px;
		}
	}

	&--kioskTopLeft {
		width: 20%;
		aspect-ratio: 1;
		top: -7%;
		left: -8%;
	}

	&--kioskTopRight {
		width: 40%;
		aspect-ratio: 1;
		top: -5%;
		right: -20%;
	}

	&--kioskCenterLeftBlur {
		width: 20%;
		right: -3%;
		top: auto;
		bottom: 20%;
		filter: blur(2px);
		opacity: 0.3;
	}

	&--kioskBlurTop {
		width: 5%;
		left: 50%;
		top: 2%;
		filter: blur(8px);
		opacity: 0.2;
	}

	&--kioskBlurBottom {
		width: 10%;
		left: 30%;
		top: auto;
		bottom: 10%;
		filter: blur(7px);
		opacity: 0.1;
	}
}
