@mixin mediumIcon {
	width: 120px;
	aspect-ratio: auto;
}

@mixin largeIcon {
	width: 120px;
	aspect-ratio: auto;
}
.trial-aside-icon {
	&--solid-tumor-non-melanoma-1,
	&--solid-tumor-non-melanoma-2,
	&--solid-tumor-non-melanoma-3,
	&--solid-tumor-non-melanoma-4 {
		background: url('@/assets/icons/trials/trial-icon-solid-tumor-1.svg');
		@include bg-contain();
		background-position: center;
	}
	&--solid-tumor-melanoma-1,
	&--solid-tumor-melanoma-2,
	&--solid-tumor-melanoma-3,
	&--solid-tumor-melanoma-4,
	&--solid-tumor-lung-cancer-1 {
		background: url('@/assets/icons/trials/trial-icon-solid-tumor-2.svg');
		@include bg-contain();
		background-position: center;
		@include largeIcon();
	}
	&--solid-tumor-lung-cancer-2 {
		background: url('@/assets/icons/trials/trial-icon-solid-tumor-3.svg');
		@include bg-contain();
		background-position: center;
		@include largeIcon();
	}
	&--solid-tumor-lung-cancer-3 {
		background: url('@/assets/icons/trials/solid-tumor-lung-cancer-3.svg');
		@include bg-contain();
		background-position: center;
		@include largeIcon();
	}
	&--solid-tumor-lung-cancer-4 {
		background: url('@/assets/icons/trials/trial-icon-solid-tumor-4.svg');
		@include bg-contain();
		background-position: center;
	}
	&--solid-tumor-lung-cancer-5 {
		background: url('@/assets/icons/trials/trial-icon-solid-tumor-5.svg');
		@include bg-contain();
		background-position: center;
	}
	&--solid-tumor-prostate-cancer-1 {
		background: url('@/assets/icons/trials/trial-icon-solid-tumor-6.svg');
		@include bg-contain();
		background-position: center;
		@include largeIcon();
	}
	&--solid-tumor-prostate-cancer-2 {
		background: url('@/assets/icons/trials/trial-icon-solid-tumor-7.svg');
		@include bg-contain();
		background-position: center;
		@include largeIcon();
	}
	&--solid-tumor-ovarian-cancer-1 {
		background: url('@/assets/icons/trials/trial-icon-solid-tumor-8.svg');
		@include bg-contain();
		background-position: center;
		@include largeIcon();
	}
	&--solid-tumor-ovarian-cancer-2 {
		background: url('@/assets/icons/trials/trial-icon-solid-tumor-9.svg');
		@include bg-contain();
		background-position: center;
		@include largeIcon();
	}
	&--solid-tumor-multiple-1 {
		background: url('@/assets/icons/trials/trial-icon-solid-tumor-10.svg');
		@include bg-contain();
		background-position: center;
		@include largeIcon();
	}
	&--solid-tumor-multiple-2 {
		background: url('@/assets/icons/trials/trial-icon-solid-tumor-11.svg');
		@include bg-contain();
		background-position: center;
		@include largeIcon();
	}
	&--solid-tumor-multiple-3,
	&--multiple-tumors-1 {
		background: url('@/assets/icons/trials/trial-icon-solid-tumor-12.svg');
		@include bg-contain();
		background-position: center;
		@include largeIcon();
	}
	&--solid-tumor-multiple-4,
	&--multiple-tumors-2 {
		background: url('@/assets/icons/trials/trial-icon-solid-tumor-13.svg');
		@include bg-contain();
		background-position: center;
	}
	&--solid-tumor-multiple-5 {
		background: url('@/assets/icons/trials/trial-icon-solid-tumor-14.svg');
		@include bg-contain();
		background-position: center;
		@include largeIcon();
	}
	&--solid-tumor-multiple-6,
	&--multiple-tumors-3 {
		background: url('@/assets/icons/trials/trial-icon-solid-tumor-15.svg');
		@include bg-contain();
		background-position: center;
		@include largeIcon();
	}
	&--hematology-oncology-myeloma-1,
	&--hematology-oncology-myeloma-2,
	&--hematology-oncology-myeloma-3,
	&--hematology-oncology-myeloma-4,
	&--hematology-oncology-myeloma-7 {
		background: url('@/assets/icons/trials/trial-icon-hematology-oncology-1.svg');
		@include bg-contain();
		background-position: center;
	}
	&--hematology-oncology-lymphoma-1,
	&--hematology-oncology-lymphoma-4,
	&--hematology-oncology-lymphoma-6,
	&--hematology-oncology-lymphoma-7 {
		background: url('@/assets/icons/trials/trial-icon-hematology-oncology-4.svg');
		@include bg-contain();
		background-position: center;
	}
	&--hematology-oncology-myeloma-5 {
		background: url('@/assets/icons/trials/trial-icon-hematology-oncology-2.svg');
		@include bg-contain();
		background-position: center;
		@include largeIcon();
	}
	&--hematology-oncology-myeloma-6,
	&--hematology-oncology-classical-hematology-5 {
		background: url('@/assets/icons/trials/trial-icon-hematology-oncology-3.svg');
		@include bg-contain();
		background-position: center;
	}
	&--hematology-oncology-lymphoma-2,
	&--hematology-oncology-lymphoma-3,
	&--hematology-oncology-lymphoma-5 {
		background: url('@/assets/icons/trials/trial-icon-hematology-lymphoma-1.svg');
		@include bg-contain();
		background-position: center;
		@include largeIcon();
	}
	&--hematology-oncology-lymphoma-8,
	&--hematology-oncology-lymphoma-9 {
		background: url('@/assets/icons/trials/trial-icon-hematology-lymphoma-2.svg');
		@include bg-contain();
		background-position: center;
		@include largeIcon();
	}
	&--hematology-oncology-classical-hematology-1 {
		background: url('@/assets/icons/trials/trial-icon-hematology-classical-hematology-1.svg');
		@include bg-contain();
		background-position: center;
		@include largeIcon();
	}
	&--hematology-oncology-classical-hematology-2 {
		background: url('@/assets/icons/trials/trial-icon-hematology-classical-hematology-2.svg');
		@include bg-contain();
		background-position: center;
	}
	&--hematology-oncology-classical-hematology-3 {
		background: url('@/assets/icons/trials/trial-icon-hematology-classical-hematology-3.svg');
		@include bg-contain();
		background-position: center;
	}
	&--hematology-oncology-classical-hematology-4 {
		background: url('@/assets/icons/trials/trial-icon-hematology-classical-hematology-4.svg');
		@include bg-contain();
		background-position: center;
	}
	&--basal-cell-carcinoma-1,
	&--cutaneous-squamous-cell-carcinoma-4 {
		background: url('@/assets/icons/trials/basal-cell-merkel-cell-carcinoma-1.svg');
		@include bg-contain();
		background-position: center;
		@include largeIcon();
	}
	&--basal-cell-carcinoma-2,
	&--basal-cell-carcinoma-3,
	&--cutaneous-squamous-cell-carcinoma-1,
	&--cutaneous-squamous-cell-carcinoma-2,
	&--cutaneous-squamous-cell-carcinoma-5,
	&--cutaneous-squamous-cell-carcinoma-6 {
		background: url('@/assets/icons/trials/basal-cell-merkel-cell-carcinoma-2.svg');
		@include bg-contain();
		background-position: center;
	}
	&--melanoma-1,
	&--melanoma-2,
	&--melanoma-3 {
		background: url('@/assets/icons/trials/melanoma-1.svg');
		@include bg-contain();
		background-position: center;
	}
	&--basal-cell-carcinoma-4 {
		background: url('@/assets/icons/trials/basal-cell-merkel-cell-carcinoma-3.svg');
		@include bg-contain();
		background-position: center;
	}
	&--cutaneous-squamous-cell-carcinoma-3 {
		background: url('@/assets/icons/trials/cutaneous-squamous-cell-carcinoma-1.svg');
		@include bg-contain();
		background-position: center;
	}
}
