.trial-card {
	position: relative;
	display: flex;
	width: 100%;
	margin: {
		top: $unit * 2;
		bottom: $unit * 2;
	}

	&--phase {
		margin-top: $unit * 5;
		margin-bottom: $unit * 4;
	}

	&__aside {
		flex-shrink: 0;
		width: 180px;
		min-width: 180px;
		margin-right: $unit;
		font-size: 0.9em;

		&-card {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			min-height: 200px;
			border-radius: 0 $radius * 0.5;
			background: $white;
			color: $black;

			&-icon {
				margin-top: $unit * 2;
				margin-bottom: $unit * 2;
				flex: 1;
				width: 85px;
				aspect-ratio: 1;
			}

			p {
				text-transform: uppercase;
				text-align: center;
				padding: 0 $unit * 2;
				font-size: 14px;
				line-height: 16px;
				font-family: 'RobotoCondensed-Bold';
				margin-bottom: $unit * 2;
			}
		}
	}

	&__datum {
		display: flex;
		flex: 1;
	}

	&__phase {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		flex: 1;

		label {
			@include px-to-em(18px);
			line-height: 30px;
			font-weight: 600;
			text-transform: uppercase;
		}

		strong {
			@include px-to-em(52px);
			line-height: 50px;
		}
	}

	&__row {
		border-radius: $radius * 0.5;
		min-height: 200px;

		&-record {
			position: relative;
			background: $linear-gradient-02;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: center;
			padding: $unit * 4 $unit * 2;
			border-radius: $radius * 0.5;

			flex-basis: 100%;
			@include large-desktop {
				flex-basis: 75%;
				&.phase-2 {
					flex-basis: 50%;
				}
				&.phase-1 {
					flex-basis: 25%;
				}
			}

			&--blank {
				flex: 1;
				margin-left: $unit;
				border: 1px solid rgba($white, 0.1);
				background: rgba($blue-shade-1, 0.4);
				backdrop-filter: blur(5px);
			}
		}

		&-title {
			max-width: 250px;
			font-size: 1.3em;
			font-family: 'RobotoCondensed-Bold';
			text-align: right;

			strong {
				color: $accent;
			}

			@include large-desktop {
				max-width: 100%;
			}
		}

		&-control {
			margin-top: $unit;
		}

		&.is-non-interventional {
			background: $linear-gradient-05;
			padding: 2px;
			.trial-card__row-record {
				flex-basis: 100%;
				background: $linear-gradient-04;
			}
		}
	}

	&__badge {
		position: absolute;
		top: -10px;
		right: 0;
		@include px-to-em(12px);
		line-height: 14px;
		font-family: 'RobotoCondensed-Bold';
		color: $white;
		padding: 6px 14px;
		border-radius: 0 6px 0 0;
		border: 1px solid rgba($white, 0.5);
		box-shadow: $box-shadow-02;
		background: $linear-gradient-06;
	}

	&__mobile-phase {
		opacity: 0.6;
		@include px-to-em(20px);
		font-weight: 800;
		text-transform: uppercase;
		margin-bottom: $unit;

		@include large-desktop {
			display: none;
		}
	}

	// Loader Image
	&__loader {
		position: absolute;
		z-index: -99;
		opacity: 0;
		display: none !important;
	}
}

.trial-cards {
	&.kiosk {
		@include k-desktop {
			margin-bottom: $unit * 15;

			.trial-cards__title {
				line-height: 1.1;
			}
			.trial-card {
				margin: $unit * 5 0;
				&__phase {
					margin-top: $unit * 10;

					strong,
					label {
						line-height: 1.2;
					}

					label {
						@include px-to-em(16px);
					}
					strong {
						@include px-to-em(40px);
					}
				}
				&__aside {
					width: 400px;

					margin-right: $unit * 3;

					&-card {
						min-height: 400px;
						height: 100%;
						border-radius: 0 $radius;
						p {
							@include px-to-em(12px);
							line-height: 1.2;
							padding: 0 $unit * 5;
						}

						&-icon {
							width: 150px;
						}
					}
				}

				&__row {
					&-title {
						@include px-to-em(18px);
						line-height: 1.2;
						margin: $unit * 4 0;
					}

					&-record {
						border-radius: $radius;
						padding: $unit * 5;

						&--blank {
							margin-left: $unit * 3;
						}

						:deep() .button__content {
							padding: $unit * 5 $unit * 2;
						}
					}
				}

				&__badge {
					padding: $unit * 2 $unit * 3;
					line-height: 1.1;
				}
			}
		}
	}
}
