.kiosk {
	&-container {
		margin: $unit * 3;
		padding: $unit * 5 $unit * 10;
	}

	@include k-desktop {
		&-container {
			padding: $unit * 8 $unit * 15;
		}
	}
}

.layout-trial-kiosk {
	@include k-desktop {
		.kiosk-container {
			padding: $unit * 8;
		}
	}
}
