// Icons
.ui-icon {
	&-solid-tumor,
	&-multiple-tumors {
		background: url('@/assets/icons/solid-tumor.svg');
		@include bg-contain();
		background-position: top;
	}

	&-solid-tumor-white {
		background: url('@/assets/icons/solid-tumor-white.svg');
		@include bg-contain();
		background-position: top;
	}

	&-hematology-oncology {
		background: url('@/assets/icons/hematology-oncology.svg');
		@include bg-contain();
		background-position: top;
	}

	&-hematology-oncology-white {
		background: url('@/assets/icons/hematology-oncology-white.svg');
		@include bg-contain();
		background-position: top;
	}

	&-basal-cell-merkel-cell-carcinoma,
	&-cutaneous-squamous-cell-carcinoma,
	&-melanoma{
		background: url('@/assets/icons/hand-magnifying-glass.svg');
		@include bg-contain();
		background-position: top;
	}
}
