// Icons
.ui-icon {
	&-solid-tumor {
		background: url('@/assets/icons/solid-tumor.svg');
		@include bg-contain();
		background-position: top;
	}

	&-solid-tumor-white {
		background: url('@/assets/icons/solid-tumor-white.svg');
		@include bg-contain();
		background-position: top;
	}

	&-hematology-oncology {
		background: url('@/assets/icons/hematology-oncology.svg');
		@include bg-contain();
		background-position: top;
	}

	&-hematology-oncology-white {
		background: url('@/assets/icons/hematology-oncology-white.svg');
		@include bg-contain();
		background-position: top;
	}

	&-nsclc-clinical-trial-information,
	&-melanoma-clinical-trial-information {
		background: url('@/assets/icons/hand-glass.svg');
		@include bg-contain();
		background-position: top;
	}
}
