.type-heading {
	&-h1 {
		margin: $unit * 3 0;
		@include px-to-em(60px);
		line-height: 64px;
		font-family: 'RobotoCondensed-Bold';
		font-weight: 600;
		text-transform: uppercase;
		color: $primary;
	}
}

.type-font {
	&-condensed {
		font-family: 'RobotoCondensed-Bold';
	}
}
