.type-heading {
	&-h1 {
		margin: $unit * 3 0;
		@include px-to-em(38px);
		line-height: 40px;
		font-family: 'RobotoCondensed-Bold';
		font-weight: 600;
		text-transform: uppercase;
		color: $primary;
		max-width: 768px;

		@include tablet {
			@include px-to-em(60px);
			line-height: 64px;
		}

		@include large-desktop {
			max-width: 100%;
		}
	}

	&-h2 {
		@include px-to-em(32px);
		line-height: 40px;
		font-weight: 600;
		text-transform: uppercase;
	}
}

.type-font {
	&-condensed {
		font-family: 'RobotoCondensed-Bold';
	}
}
