.ui-logo {
	&-regeneron {
		max-width: 140px;
	}
}

// Native
button,
.btn {
	display: flex;
	align-items: center;
	padding: $unit * 1.5 $unit * 3;
	border: 2px solid transparent;
	border-radius: $radius * 2;
	font-family: 'RobotoCondensed-Bold';
	font-size: 1em;
	color: $secondary;
	background: none;
	cursor: pointer;

	&:after {
		display: flex;
		content: '';
		width: $unit * 1.5;
		aspect-ratio: 1;
		background: url('@/assets/icons/chevron-right-gradient.svg');
		@include bg-contain();
		margin-left: $unit * 1;
	}

	&.simple-white {
		color: $white;
		border: 2px solid $white;

		&:after {
			background: url('@/assets/icons/chevron-right-white.svg');
			@include bg-contain();
		}
	}

	&.secondary {
		width: 100%;
		border: 2px solid $primary-2;
		color: $primary-2;
		text-align: center;
		display: flex;
		justify-content: center;

		&:after {
			display: none;
		}
	}

	&.primary {
		width: 100%;
		border: 2px solid $primary-2;
		color: $white;
		background: $primary-2;
		text-align: center;
		display: flex;
		justify-content: center;
		position: relative;

		&:after {
			background: url('@/assets/icons/chevron-next-white.svg');
			@include bg-contain();
			width: $unit * 2;

			position: absolute;
			right: $unit * 2;
		}
	}

	&.btn-overlay {
		background: $linear-gradient-02;
		border: 2px solid $white;
		color: $white;
		text-transform: uppercase;

		&:after {
			background: url('@/assets/icons/chevron-right-white.svg');
			@include bg-contain();
		}
	}
}

.button-wrapper {
	background: $linear-gradient-01;
	border-radius: $radius * 2;
	padding: 2px;

	button {
		background: $white;
	}
}
